/* * {
  background-color: #111827;
} */
#container {
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  /* gap: 2px; */
  justify-content: center;
  align-items: center;
  align-content: center;
}

.square {
  border: 2px solid red;
  width: 25px;
  height: 25px;
  flex: auto;
}

/* .square:hover {
  background-color: cyan;
} */
